src/main/java/META-INF/toyRpc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://my.oschina.net/geecoodeer/schema/toyRpc"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://my.oschina.net/geecoodeer/schema/toyRpc"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://my.oschina.net/geecoodeer/schema/toyRpc ">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:element name="consumer">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interface" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="provider">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interface" type="xsd:string"/>
                    <xsd:attribute name="ref" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>